<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{TOOL_NAME}}</title>
  <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/coming-soon.css') }}">

</head>

<body>
  <header>
  </header>

  <div class="bgimg">
    <div class="topleft">
      <img src="{{ url_for('static', filename='images/' + LOGO_NAME) }}" 
      class="rounded mx-auto d-block" width="auto" height="80">  
    </div>
    <div class="middle">

      <h1>{{TOOL_NAME}}</h1>

      <!-- <img src="{{ url_for('static', filename='images/dmptool.png') }}" class="rounded mx-auto d-block"
      height="90"> -->

      <h2>COMING SOON</h2>
      <hr>
      <p class="date"><strong>{{DEADLINE}}</strong></p>
    </div>
    <div class="bottomleft">
      <p id="demo" style="font-size:30px"></p>
      {% if EXTERN_DOMAIN %}
      <p>System hosted at Graz University of Technology</p>
  {% endif %}
  
    </div>
  </div>

  

  <script type=text/javascript src="{{url_for('static', filename='js/coming-soon.js') }}" deadline="{{DEADLINE}}" ></script>

</body>

</html>
